@media only screen and (max-width: 1024px) {

    /* common css Starts  */

    .tbl-cntr {
        margin: 10px 50px 0px;
    }

    .page-title {
        font-size: 28px;
    }

    /* common css Ends  */


    /* home page css starts */

    .landing-page .cntr-cont .options {
        margin-top: 0px;
    }

    /* home page css ends */


    /* resource page css starts */

    .resource-search-landing .form-blk label {
        display: block;
    }

    .resource-search-landing .form-blk .chosen-container-multi .chosen-choices li.search-choice {
        line-height: 20px;
    }

    .resource-search-landing .form-blk .chosen-container-multi .chosen-choices li.search-choice {
        padding-right: 5px;
    }

    .resource-search-landing .form-blk .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
        display: none;
    }

    /* resource page css ends */

    /* open requisition page css starts */
    /* open requisition page css ends */



    /* close requisition page css starts */

    .close-requisition-landing .date-blk .col-md-3 {
        flex: 0 0 35%;
        max-width: 35%;
    }

    /* close requisition page css ends */


    /* code details page css starts */
    .code-details-landing .details-section .basic-details-section,
    .code-details-landing .details-section .job-details-section,
    .code-details-landing .details-section .primary-skill-section,
    .code-details-landing .details-section .secondary-skill-section {
        margin: 0px 50px;
    }

    .code-details-landing .details-section .basic-details-section table tr td,
    .code-details-landing .details-section .basic-details-section table tr td:nth-child(odd),
    .code-details-landing .details-section .basic-details-section table tr td:nth-child(even) {
        display: inline-block;
        width: 50%;
    }

    .code-details-landing .details-section .basic-details-section table tr td:nth-child(3) {
        padding-left: 0px;
    }

    .code-details-landing .req-code-info {
        padding: 0px 70px;
    }

    .code-details-landing .req-code-info p {
        font-size: 13px;
    }

    /* code details page css ends */

    /* Proposed resources Page CSS Starts */

    /* Proposed resources Page CSS Ends */


    /* View Joiners Pipeline Page CSS Starts */

    .view-joiners-pipeline-landing .calendar .month .completeWeek .week .alldays {
        justify-content: center;
    }

    .view-joiners-pipeline-landing .calendar .slick-next {
        right: 28%;
        top: 5%;
        transform: translate(0%, -5%);
        z-index: 9;
        background-image: url(../images/mob-next.svg);
    }

    .view-joiners-pipeline-landing .calendar .slick-prev {
        left: 28%;
        top: 5%;
        transform: translate(0%, -5%);
        z-index: 9;
        background-image: url(../images/mob-prev.svg);
    }



    .view-joiners-pipeline-landing .calendar .completeWeek .slick-prev {
        left: 38%;
        width: 20px;
        height: 20px;
        top: 10%;
        transform: translate(-0%, -10%);
        z-index: 99;
        background-image: url(../images/mob-prev.svg);
    }


    .view-joiners-pipeline-landing .calendar .completeWeek .slick-next {
        right: 38%;
        width: 20px;
        height: 20px;
        top: 10%;
        transform: translate(-0%, -10%);
        z-index: 99;
        background-image: url(../images/mob-next.svg);
    }

    /* View Joiners Pipeline Page CSS Ends */

}

@media only screen and (max-width: 900px) {

    /* common css Starts  */

    /* .code-details-landing .details-section .search-result-section .tbl-cntr .table td:first-child,
    .code-details-landing .details-section .search-result-section .tbl-cntr .table th:first-child,
    .proposed-resources-landing .tbl-cntr .table td:first-child,
    .proposed-resources-landing .tbl-cntr .table th:first-child,
    .code-details-landing .details-section .proposed-resources-section .tbl-cntr .table td:first-child,
    .code-details-landing .details-section .proposed-resources-section .tbl-cntr .table th:first-child {
        min-width: auto;
        max-width: unset;
    } */

    .table th,
    .table td {
        max-width: 100%;
        min-width: unset;
    }

    .tbl-cntr table {
        width: 100%;
    }

    .tbl-cntr table,
    .tbl-cntr thead,
    .tbl-cntr tbody,
    .tbl-cntr th,
    .tbl-cntr td,
    .tbl-cntr tr {
        display: block;
    }

    .tbl-cntr thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .tbl-cntr tbody tr {
        border: none;
        position: relative;
        margin-bottom: 10px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.15);
        padding-bottom: 20px;
    }

    .tbl-cntr tbody tr.more {
        padding-bottom: 0px;
    }

    .tbl-cntr tbody tr td:nth-child(n+3) {
        display: none;
    }

    .tbl-cntr tbody tr.more td:nth-child(n+3) {
        display: flex;
    }

    /* .tbl-cntr tbody tr.more td:nth-child(2) {
        padding-bottom: 10px;
        border-bottom: 1px solid #ffffff24;
    } */

    .tbl-cntr tbody tr.more td:last-child {
        border-bottom: none;
    }

    .tbl-cntr tbody tr td span.view-more {
        background-image: url(../images/arrow-down-sign-to-navigate.svg);
        color: #ffffff;
        display: block;
        position: absolute;
        height: 20px;
        width: 40px;
        bottom: 0px;
        left: 50%;
        margin: 0px;
        transform: translateX(-50%);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 7;
    }

    .tbl-cntr tbody tr.more td span.view-more {
        background-image: none;
    }

    .tbl-cntr tbody tr.no-records-found::after {
        content: unset;
    }

    .table-hover tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }

    .tbl-cntr tbody tr.more::after {
        background: none;
    }

    .tbl-cntr tbody td span.header-info {
        display: flex;
        align-items: center;
        font-weight: bold;
    }


    .tbl-cntr tbody td span.header-info.lft-pdg {
        padding-left: 25px;
    }

    .table tbody tr:first-child td.edit-sec {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .tbl-cntr tbody td {
        justify-content: center;
        display: flex;
        border: none;
        padding: 5px 0px;
        border-bottom: 1px solid #ffffff24;
        margin: 0px 10px;
        width: auto;
    }

    .tbl-cntr tbody td span {
        width: 50%;
        margin: 0px 20px;
    }

    .tbl-cntr tbody tr:first-child td {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }

    .table tbody tr:last-child td {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    }

    .tbl-cntr {
        margin: 20px 50px;
        overflow-x: unset;
    }

    .table tbody tr td.req-no,
    .table tbody tr td.view-resume {
        cursor: pointer;
        text-align: left;
    }

    .tbl-cntr tbody td.edit-sec {
        min-height: 45px;
        justify-content: flex-start;
    }

    .tbl-cntr tbody td.edit-sec span.edit {
        width: auto;
    }

    .navbar .navbar-nav {
        width: 100%;
        justify-content: space-around;
    }

    .navbar {
        background: #0690c9;
        padding: 0px;
        margin: 0px 50px;
        border-radius: 10px;
    }

    .navbar ul.navbar-nav li {
        padding: 10px 20px;
        color: #ffffff91;
        font-size: 14px;
        width: min-content;
        text-align: center;
        background: none;
    }

    .navbar ul.navbar-nav li.active {
        font-weight: 900;
        border-bottom: 3px solid white;
        color: white;
        background: none;
    }

    .navbar ul.navbar-nav li:first-child {
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
    }

    .navbar ul.navbar-nav li:last-child {
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
    }

    .page-title {
        padding: 20px 0px;
        color: white;
        margin-bottom: 0px;
        font-size: 25px;
    }

    .table tbody tr td select {
        width: 160px;
    }


    .code-details-landing .details-section .search-result-section .tbl-cntr tbody tr td:nth-child(3),
    .code-details-landing .details-section .proposed-resources-section .tbl-cntr tbody tr td:nth-child(3),
    .approve-page-landing .tbl-cntr tbody tr td:nth-child(3), .ceg-main-landing .tbl-cntr tbody tr td:nth-child(3),
    .open-requisition-landing #requisition-view tbody tr td:nth-child(3), .proposed-resources-landing .tbl-cntr tbody tr td:nth-child(3) {
        display: flex;
    }

    /* common css Ends  */

    /* home page css starts */


    .landing-page .cntr-cont .options {
        margin-top: 30px;
    }

    .landing-page .cntr-cont .options.show {
        flex-flow: wrap;
        justify-content: center;
    }

    .landing-page .cntr-cont .main-optn .app-logo {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .landing-page .cntr-cont a {
        margin: 0px 30px 80px;
    }

    .landing-page .cntr-cont>a {
        margin-top: 30px;
    }

    /* home page css ends */


    /* resource page css starts */
    .resource-search-landing .form-blk .col-md-4 {
        padding: 0px 25px;
        flex: 0 0 70%;
        max-width: 70%;
        margin: 0px auto;
    }

    .resource-search-landing~.datepicker-dropdown {
        transform: translate(3rem, 6em);
    }

    .resource-search-landing .form-blk .radio-blk {
        text-align: center;
    }

    .resource-search-landing .form-blk .search-blk {
        text-align: center;
    }

    /* resource page css ends */


    /* open requisition page css starts */

    .open-requisition-landing {
        margin: 70px auto 20px;
    }

    /* open requisition page css ends */


    /* Close requisition page css starts */

    .close-requisition-landing {
        margin: 70px auto 20px;
    }

    .close-requisition-landing .date-blk .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    /* Close requisition page css ends */


    /* code details page css starts */

    .code-details-landing .options {
        padding: 20px 0px 50px;
        top: 70px;
        margin-bottom: 20px;
    }

    .code-details-landing .details-section {
        margin: 70px auto 20px;
    }

    .code-details-landing .options ul li a {
        padding: 9px 16px;
        margin: 0px;
    }

    .code-details-landing .options ul li {
        margin: 0 25px;
    }

    .code-details-landing .options ul li:after {
        display: none;
    }

    .code-details-landing .options ul li:before {
        bottom: -68px;
        width: min-content;
        padding: 5px 10px;
        min-width: 70px;
    }

    .code-details-landing .options ul li.active::before {
        border-bottom: 2px solid;
    }

    .code-details-landing .details-section .basic-details-section,
    .code-details-landing .details-section .job-details-section,
    .code-details-landing .details-section .primary-skill-section,
    .code-details-landing .details-section .secondary-skill-section {
        padding: 20px 40px;
        margin: 0px 50px;
    }

    .code-details-landing .details-section .search-result-section .tbl-cntr .table tr td.ch-bx {
        justify-content: flex-start;
        position: absolute;
        padding: 0px;
        margin: 0px;
        border: 0px;
        top: 0px;
        left: 0px;
    }

    .code-details-landing .details-section .search-result-section .tbl-cntr .table tr td.ch-bx span.header-info {
        display: none;
    }

    .code-details-landing .details-section .search-result-section .tbl-cntr .table tr td.ch-bx span.data-info {
        position: relative;
        width: auto;
        margin: 3px 10px;
    }

    .code-details-landing .details-section .search-result-section .tbl-cntr .table tr td.ch-bx span.data-info label {
        display: inline-block;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 25px;
        left: 0;
        position: absolute;
        top: 0;
        width: 25px;
        margin: 0px;
    }

    .code-details-landing .details-section .search-result-section .tbl-cntr .table tr td.ch-bx span.data-info label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 6px;
        opacity: 0;
        position: absolute;
        top: 7px;
        transform: rotate(-45deg);
        width: 12px;
    }

    .code-details-landing .details-section .search-result-section .tbl-cntr .table tr td.ch-bx span.data-info input[type="checkbox"] {
        visibility: hidden;
        height: 25px;
        width: 25px;
    }

    .code-details-landing .details-section .search-result-section .tbl-cntr .table tr td.ch-bx span.data-info input[type="checkbox"]:checked+label {
        background-color: orange;
        border-color: orange;
    }

    .code-details-landing .details-section .search-result-section .tbl-cntr .table tr td.ch-bx span.data-info input[type="checkbox"]:checked+label:after {
        opacity: 1;
    }


    /* .code-details-landing .details-section .search-result-section .tbl-cntr tbody tr td:nth-child(n+4) {
        display: none;
    }
    
    .code-details-landing .details-section .search-result-section .tbl-cntr tbody tr.more td:nth-child(n+4) {
        display: flex;
    } */


    /* code details page css ends */


    /* Proposed resources Page CSS Starts */

    .proposed-resources-landing .tbl-cntr tbody tr.right-swipe {
        left: -105px;
    }

    .proposed-resources-landing .tbl-cntr tbody tr.left-swipe {
        left: 101px;
    }

    /* Proposed resources Page CSS Ends */


    /* View Joiners Pipeline Page CSS Starts */


    /* View Joiners Pipeline Page CSS Ends */


    .tbl-cntr table tbody td.edit-sec span {
        margin: 5px 0px;
        width: auto;
    }
}


@media only screen and (max-width: 767px) {

    /* home page css starts */

    .landing-page .cntr-cont h1 {
        font-size: 30px;
    }


    .gry-bgnd .popup-box.details table {
        width: 100%;
    }

    .gry-bgnd .popup-box.details table,
    .gry-bgnd .popup-box.details table thead,
    .gry-bgnd .popup-box.details table tbody,
    .gry-bgnd .popup-box.details table th,
    .gry-bgnd .popup-box.details table td,
    .gry-bgnd .popup-box.details table tr {
        display: block;
    }

    .gry-bgnd .popup-box.details table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .gry-bgnd .popup-box.details table tr {
        width: 100%;
        border: none;
        position: relative;
        margin-bottom: 10px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.15);
    }

    .gry-bgnd .popup-box.details table tbody td span.header-info {
        display: block;
        font-weight: bold;
    }

    .gry-bgnd .popup-box.details table tbody td span {
        width: 50%;
    }

    .gry-bgnd .popup-box.details table tr td {
        width: 100%;
        justify-content: center;
        display: flex;
        border: none;
        padding: 5px 0px;
        border-bottom: 1px solid #ffffff24;
        margin: 0px 10px;
        width: auto;
        max-width: 100%;
        background: none;
    }

    .gry-bgnd .popup-box.details .tbl {
        width: 100%;
    }

    .gry-bgnd .popup-box.details {
        width: 90%;
    }

    /* home page css ends */


    /* resource page css starts */

    /* resource page css ends */


    /* open requisition page css starts */
    /* open requisition page css ends */



    /* code details page css starts */
    /* code details page css ends */


    /* Proposed resources Page CSS Starts */

    /* Proposed resources Page CSS Ends */

    /* View Joiners Pipeline Page CSS Starts */


    /* View Joiners Pipeline Page CSS Ends */

}

@media only screen and (max-width: 480px) {

    /* Common CSS Starts*/

    .tbl-cntr {
        margin: 20px;
    }

    .bootstrap-table .fixed-table-toolbar .keep-open .btn,
    .bootstrap-table .fixed-table-toolbar .search-input,
    .fixed-table-pagination,
    .table tbody tr td.intw-status select,
    .table tbody tr td.view-resume a,
    table tr td {
        font-size: 14px;
    }

    .bootstrap-table .fixed-table-pagination {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .code-details-landing .details-section .search-result-section .submit-to-SAP,
    .code-details-landing .details-section .search-result-section .export-btn,
    .code-details-landing .details-section .search-result-section .submit-to-PM-btn {
        padding: 10px 30px;
        font-size: 14px;
    }

    .bootstrap-table .fixed-table-pagination>.pagination ul.pagination a {
        padding: 5px 10px;
        font-size: 16px;
    }

    .navbar {
        margin: 0px 20px;
    }

    .navbar ul.navbar-nav li {
        padding: 10px;
    }


    .table tbody tr td select {
        width: 110px;
    }

    .tbl-cntr table tbody td.edit-sec {
        position: absolute;
        border-bottom: 0px;
        z-index: 9;
        top: 0px;
        left: -10px;
        flex-direction: column;
        min-width: auto;
        padding: 0px 5px;
        background: orange;
        border-radius: 6px;
        min-height: auto;
    }

    .tbl-cntr tbody td.edit-sec.expnd {
        min-width: auto;
    }

    .code-details-landing .details-section .proposed-resources-section .tbl-cntr #proposed-resource-table .tbl-cntr .table td.edit-sec:first-child span {
        margin: 5px 0px;
        width: 100%;
    }

    .gry-bgnd .popup-box.details table tr td {
        font-size: 12px;
    }

    .gry-bgnd .popup-box.details {
        padding: 20px 20px;
    }

    
    .tbl-cntr tbody td span.header-info.lft-pdg {
        padding-left: 15px;
    }

    /* Common CSS Ends  */

    /* home page css starts */

    .landing-page .cntr-cont a::before {
        top: 125px;
    }


    .landing-page .cntr-cont .options a {
        padding: 22px;
        margin: 0px 10px 50px;
    }

    .landing-page .cntr-cont .options a img {
        height: 30px;
        width: 30px;
    }

    .landing-page .cntr-cont a::before {
        min-width: 100px;
        font-size: 12px;
        top: 80px
    }

    .landing-page .cntr-cont .main-optn .app-logo::before {
        top: 90px;
        font-size: 13px;
    }

    .landing-page .cntr-cont .main-optn .app-logo img {
        height: 35px;
        width: 35px;
    }

    .landing-page .cntr-cont .main-optn .app-logo {
        padding: 25px;
        margin: 30px 10px 40px;
    }

    .landing-page .cntr-cont>a {
        margin-top: 30px;
        padding: 30px;
    }

    .landing-page .cntr-cont>a img {
        width: 60px;
        height: 60px;
    }

    .landing-page .cntr-cont a .count {
        left: 55px;
        top: 5px;
        font-size: 10px;
    }

    .landing-page .cntr-cont .options {
        padding: 0px 20px;
    }

    /* home page css ends */


    /* resource page css starts */

    .resource-search-landing~.datepicker-dropdown {
        transform: translate(3rem, 5em);
    }

    .resource-search-landing .form-blk .col-md-4 {
        padding: 0px 10px;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .resource-search-landing .form-blk.show {
        margin: 20px 20px 10px;
    }

    .resource-search-landing .form-cls-btn {
        top: 80px;
        right: 20px;
    }

    .resource-search-landing .form-cls-btn.show {
        top: 68px;
    }

    .resource-search-landing .form-cls-btn::after {
        left: 33%;
        height: 40%;
    }


    .resource-search-landing .form-cls-btn::before {
        left: 60%;
        height: 40%;
    }

    .resource-search-landing .form-blk.show,
    .resource-search-landing .form-blk .form-group input,
    .resource-search-landing .form-blk .form-group .bootstrap-select,
    .bootstrap-select>.dropdown-toggle.bs-placeholder,
    .resource-search-landing .form-blk .date-blk .datepicker input,
    .bootstrap-select>.dropdown-toggle {
        font-size: 14px;
    }

    .resource-search-landing .form-blk .radio-blk {
        margin-top: 25px;
    }

    .resource-search-landing h2 {
        font-size: 25px;
    }

    .resource-search-landing .form-blk .chosen-container-multi .chosen-choices li.search-field {
        font-size: 14px;
    }

    /* resource page css ends */


    /* open requisition page css starts */

    /* open requisition page css ends */


    /* Close requisition page css starts */

    .close-requisition-landing .date-blk {
        margin: 0px 20px;
    }

    .close-requisition-landing .date-blk .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .close-requisition-landing .date-blk .col-md-3:last-child .datepicker label {
        padding-left: 20px;
    }


    /* Close requisition page css ends */


    /* code details page css starts */
    .code-details-landing .details-section .basic-details-section,
    .code-details-landing .details-section .job-details-section,
    .code-details-landing .details-section .primary-skill-section,
    .code-details-landing .details-section .secondary-skill-section {
        padding: 20px 30px;
        margin: 0px 20px;
    }

    .code-details-landing .options ul {
        display: flex;
        overflow-x: scroll;
        padding: 10px 0px 55px;
        margin: 0px 20px;
    }

    .code-details-landing .options {
        padding: 15px 0px 0px;
    }

    .code-details-landing .options ul li {
        margin: 0 9px;
        font-size: 15px;
        padding: 6px 13px;
    }

    .code-details-landing .options ul li:before {
        font-size: 14px;
        bottom: -52px;
    }

    .code-details-landing .details-section .search-result-section h3 {
        padding-bottom: 0px;
    }

    .code-details-landing .details-section .primary-skill-section p,
    .code-details-landing .details-section .secondary-skill-section p {
        font-size: 14px;
    }

    .code-details-landing .details-section .search-result-section .sbmt-btns.show a {
        font-size: 14px;
        padding: 8px 35px;
        margin: 5px;
    }

    .code-details-landing .details-section .basic-details-section table tr td:nth-child(even) {
        padding-left: 10px;
    }

    .code-details-landing .req-code-info {
        padding: 0px 30px;
        padding-bottom: 5px;
    }

    /* .code-details-landing .options ul::-webkit-scrollbar-thumb {
        background-color: unset;
    }

    .code-details-landing .options ul::-webkit-scrollbar-track {
        box-shadow: unset;
    } */

    /* code details page css ends */


    /* Proposed resources Page CSS Starts */

    .proposed-resources-landing h2,
    .code-details-landing .details-section .proposed-resources-section h2 {
        font-size: 24px;
    }

    /* .proposed-resources-landing .tbl-cntr tbody td span.accept {
        height: 84px;
        left: -104px;
    } */

    /* .proposed-resources-landing .tbl-cntr tbody td span.reject {
        height: 84px;
        right: -100px;

    } */

    /* .proposed-resources-landing .table tbody tr td.intw-status select {
        width;
    } */

    /* Proposed resources Page CSS Ends */



    /* View Joiners Pipeline Page CSS Starts */

    .view-joiners-pipeline-landing .calendar .slick-list .month h3 {
        font-size: 22px;
    }

    .view-joiners-pipeline-landing .calendar .month .completeWeek .week h4 {
        font-size: 20px;
    }

    .view-joiners-pipeline-landing .tbl-cntr,
    .view-joiners-pipeline-landing .calendar {
        margin: 20px;
    }

    .view-joiners-pipeline-landing .calendar .month .completeWeek .week .alldays {
        justify-content: center;
    }

    .view-joiners-pipeline-landing .calendar .slick-next {
        right: 15%;
        top: 2%;
        transform: translate(0%, -2%);
        width: 25px;
        height: 25px;
    }

    .view-joiners-pipeline-landing .calendar .slick-prev {
        left: 15%;
        top: 2%;
        transform: translate(0%, -2%);
        width: 25px;
        height: 25px;
    }



    .view-joiners-pipeline-landing .calendar .completeWeek .slick-prev {
        left: 21%;
        top: 6%;
        transform: translate(-0%, -6%);
    }


    .view-joiners-pipeline-landing .calendar .completeWeek .slick-next {
        right: 21%;
        top: 6%;
        transform: translate(-0%, -6%);
    }

    /* View Joiners Pipeline Page CSS Ends */

    /* CEG Page CSS Starts */

    .ceg-main-landing .navbar .navbar-nav {
        margin: 0px 10px;
        overflow-x: scroll;
        justify-content: unset;
        flex-flow: nowrap;
    }

    .ceg-main-landing .navbar ul.navbar-nav li {
        padding: 10px;
        min-width: 110px;
        display: inline-flex;
    }

    /* CEG Page CSS Ends */

}